<!DOCTYPE html>

<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Regeneracy   
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20100529
-->


{% include head.html %}

<body>
<div id="wrapper">
	{% include header.html %}
	<div id="page">
		<div id="page-bgtop">
			<div id="page-bgbtm">

				<div id=leftcircle style="line-height:10px;">
					<div id="mycircle" style="line-height:10px;">
						<p></p>
						<p>访问量</p>
						<p v-text="pvcount">{{pvcount}}</p>
					</div>
				</div>

				<div id="content">
				
					{{ content }}	
				
					<div style="clear: both;">&nbsp;</div>
				</div>
				<!-- end #content -->
				
				
				<!-- start #sidebar -->
				<div id="sidebar">
					<ul>
						<li>
							<div id="search" >
								<form method="get" action="#">
									<div>
										<input type="text" name="s" id="search-text" value="" />
										<input type="submit" id="search-submit" value="GO" />
									</div>
								</form>
							</div>
							<div style="clear: both;">&nbsp;</div>
						</li>
						
						<li>
							<h2>Blogroll</h2>
							<ul>
								<li><a href="https://www.byvoid.com/">byvoid</a></li>
								<li><a href="http://spaces.ac.cn/">scientific sapces</a></li>
								<li><a href="http://zh.lucida.me/">Lucida</a></li>
								<li><a href="http://www.xysay.com/">小媛在努力</a></li>
	
							</ul>
						</li>
						<li>
							<h2>Share</h2>
							<ul >
								<li><a href="https://github.com/qcer">GitHub</a></li>
								<li><a href="https://www.zhihu.com/people/qcer8421/activities">知乎</a></li>
								<li><a href="http://weibo.com/5681541654/profile?topnav=1&wvr=6">微博</a></li>
							</ul>
							<p>Thanks for your visit!</p>
						</li>
						
					</ul>
				</div>
				
				<!-- end #sidebar -->
				
				<div style="clear: both;">&nbsp;</div>
			</div>
		</div>
	</div>
	<!-- end #page -->
</div>

<div class="go-top">
       <div class="arrow"></div>
       <div class="stick"></div>
</div>

<script src="{{ "/public/js/jquery-1.9.1.min.js"| prepend: site.baseurl}}" type="text/javascript"></script>
<script src="{{ "/public/js/custom.js"| prepend: site.baseurl}}" type="text/javascript"></script>
<script src="{{ "/public/js/vue.min.js"| prepend: site.baseurl}}" type="text/javascript"></script>


{% include footer.html %}

</body>
</html>
